<div class="video">
  <p>Video: <%=video.name %></p>
  <br>
  <iframe width="300" height="180" src="http://www.youtube.com/embed/<%= video.link.slice(32,video.link.length)%>" frameborder="0">
  </iframe>
</div>
