<div>
<form action="/user/detail/<%= user._id %>/edit" method="POST">
    <label for="username">Name</label>
    <input type="text" id="username" name="username" value="<%= user.username %>">
    <label for="image-url">Image URL</label>
    <input type="text" name="imageUrl" id="image-url" value="<%= user.imageUrl %>">
   <label for="description">Description</label>
    <textarea type="text" name="description" id="description"><%= user.description %></textarea>
  
    <button type="submit">Update Product</button>
  </form>
  
</div>