<div class="center-box">
  <h1>
    Welcome to Video Cloud
  </h1>
  <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/820047/images/4613628/hola.png">
</div>

</div>

   <div class="center-text-y img-front"><b class="b">Discover watch and rate a catalog of music that keeps growing with emerging and consolidated artists from all over the world.</b>
    </div>
  