<h1>Video List</h1>
<% videos.reverse().forEach(v => { %>
    <div class="video-list">
    <h3><%=v.name%></h3>
    <iframe width="300" height="180" src="https://www.youtube.com/embed/<%= v.link.slice(32,v.link.length)%>" frameborder="0">
    </iframe>
    <p>By:@<%=v.creatorId.username%></p>
    <%if(!user){}else{%>
    <a href="/video/detail-video/<%=v._id%>">detail</a>
<%}%>
</div>
<% }) %>
