.main-container {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.submit{
  background-color: rgb(62, 62, 201);

  color :white;
  padding:8px 40px;
 
}
.display-vid{
 float: left;
}
.form-myvideos{
  float: right;
  position:fixed;
  top:100px;
  left:500px;
 }
 .center-box, .form-group{
   text-align: center;
 }


 form{
   display: inline-block
 }
