.main-container {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.submit{
  background-color: rgb(62, 62, 201);

  color :white;
  padding:8px 40px;
 
}
.display-vid{
 float: left;
}

 .center-box, .form-group{
   text-align: center;
 }


 form, .video-list{
   display: inline-block;
   margin:20px;
   padding-left: 50px;

 }
 h2,form{
  
   text-align: center;
  
 }
 .center-form{
   padding-left: 40%;
 }
.login{
  width: 750px;
}
.form-edit-profile{
  display: inline-block;
  padding-left: 33%;
}