
.main-container {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.submit{
  background-color: rgb(62, 62, 201);

  color :white;
  padding:8px 40px;
 
}
.display-vid{
 float: left;
}
.form{
  float: right;
 }